# --- Core dependencies ---
fastapi==0.119.0
uvloop==0.22.1
httptools==0.7.1
watchfiles==1.1.1
websockets==15.0.1
python-dotenv==1.1.1
pandas==2.3.3
cloudscraper==1.2.71
browser-cookie3==0.20.1
chromadb==1.2.0

# --- Dev / utilities, to be deleted later ---
black==25.9.0
jupyter==1.1.1
pip-chill==1.0.3

# --- Sentence transformers (CPU-only Torch) ---
torch==2.5.1
torchvision==0.20.1
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==5.1.1